<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<section class="intro">
  <div class="bg-image-vertical h-100" style="background-color: #EFD3E4;
          background-image: url(https://mdbootstrap.com/img/Photos/new-templates/search-box/img1.jpg);
        ">
    <div class="mask d-flex align-items-center h-100">
           <form [formGroup]="formReactive">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10">
            <div class="card" style="border-radius: 1rem;">
              <div class="card-body p-5">

                <h1 class="text-center"> Alta Cliente  {{name}}</h1>


                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="row">
                    <div class="col-12 col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form6Example1">Nombre:</label>
                        <input type="text"formControlName="nombre" id="form6Example1" class="form-control" name="nombre" [(ngModel)] = "nombre"/>
                        <div *ngIf="getValue('nombre')?.invalid && (getValue('nombre')?.touched) || getValue('nombre')?.dirty">
                          <div *ngIf="getValue('nombre')?.hasError('required')">
                            <div class="alert alert-danger" role="alert">
                              Nombre obligatorio
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form6Example2">CIF:</label>
                        <input type="text" formControlName="cif"id="form6Example2" class="form-control" name="cif" [(ngModel)] = "cif"  />
                        <div *ngIf="getValue('cif')?.invalid && (getValue('cif')?.touched) || getValue('cif')?.dirty">
                          <div *ngIf="getValue('cif')?.hasError('required')">
                            <div class="alert alert-danger" role="alert">
                              CIF obligatorio
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Text input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form6Example3">Direccion:</label>
                    <input type="text"  formControlName="direccion"id="form6Example3" class="form-control"  name="direccion" [(ngModel)] = "direccion"/>
                    <div *ngIf="getValue('direccion')?.invalid && (getValue('direccion')?.touched) || getValue('direccion')?.dirty">
                      <div *ngIf="getValue('direccion')?.hasError('required')">
                        <div class="alert alert-danger" role="alert">
                          Direccion obligatorio
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Text input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form6Example3">Grupo:</label>
                    <input type="number" formControlName="grupo" value="0" id="form6Example4" class="form-control" name="grupo" [(ngModel)] = "grupo"/>
                    <div *ngIf="getValue('grupo')?.invalid && (getValue('grupo')?.touched) || getValue('grupo')?.dirty">
                      <div *ngIf="getValue('grupo')?.hasError('required')">
                        <div class="alert alert-danger invalid-feedback" role="alert">
                          Grupo obligatorio
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Submit button -->
                  <button  type="button" (click)="addnombre()" class="btn btn-secondary btn-rounded btn-block">Place order</button>


              </div>
            </div>
          </div>
        </div>
      </div>
    </form>>
    </div>
  </div>
</section>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
<br><br>

<app-act1 [listaHija]="listPadre"></app-act1>
